<header class="py-1 bg-light border-bottom mb-4" style="background-color: lightgray">
  <div class="container">
    <div class="text-center my-4">
      <img src="../assets/job.png" alt="" height="100">
      <div class="text-center text-black">
        <h1 class="text-uppercase fw-lighter">
          Welcome to the <strong class="fw-bold">Job Board</strong>
        </h1>
        <p class="lead fw-lighter ">
          Subscribe to our opportunities database and stay tuned for open positions.
        </p>
      </div>
    </div>
  </div>
</header>
