<app-header></app-header>
<!-- Page sub header-->
<app-sub-title></app-sub-title>

<div class="container" *ngIf="msg">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container py-2">
  <div class="row py-5">
    <!--Jobs list-->
    <div class="col-8">
      <div class="row ">
        <div *ngFor="let job of jobs" class="col-6 mb-2">
          <app-job-cards [title]="job.title" [description]="job.description" [img]="job.img">
          </app-job-cards>
        </div>
      </div>
    </div>
    <!--Sidebar Right-->
    <div class="col-4">
      <form [formGroup]="formContent" (ngSubmit)="addJob()">
        <div class="mb-3">
          <label for="title" class="form-label">
            <b>
              Title
            </b>
          </label>
          <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">
            <b>
              Description Job
            </b>
          </label>
          <textarea formControlName="description" class="form-control" id="description" rows="4" style="resize: none">
            </textarea>
        </div>
        <div class="d-grid gap-2">
          <button [disabled]="!formContent.valid" type="submit" class="btn btn-warning">Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
